<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>JTL ERP API</title>
        <title lang="de-DE">JTL ERP API</title>
        <input-field type="text">
            <name>jtlBaseUrl</name>
            <label>Base URL</label>
            <defaultValue>test</defaultValue>
        </input-field>
        <input-field type="text">
            <name>jtlXAppId</name>
            <label>X-AppId</label>
            <defaultValue>test</defaultValue>
        </input-field>
        <input-field type="text">
            <name>jtlXAppVersion</name>
            <label>X-AppVersion</label>
            <defaultValue>test</defaultValue>
        </input-field>
        <input-field type="password">
            <name>jtlApiKey</name>
            <label>API Key (Authorization: Wawi ...)</label>
        </input-field>
        <input-field type="int">
            <name>jtlTtl</name>
            <label>Cache TTL (seconds)</label>
            <defaultValue>300</defaultValue>
        </input-field>
        <input-field type="checkbox">
            <name>enableOnPdp</name>
            <label>Enable on PDP</label>
            <defaultValue>false</defaultValue>
        </input-field>

    </card>
</config>
